@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --primaryBlue: #29B6F6;
}

input {
  border: none;
  outline: none;
}

input:focus {
  outline: none;
}

* {
  font-family: "Poppins";
}

.black-overlay {
  background: rgba(0, 0, 0, 0.5);
}

.placeholders::placeholder{
  font-weight: 100;
  font-size: 16px;
}

.placeholders:focus::placeholder{
  color: #C4C4C4;
}

.menuLeftShadow {
  box-shadow: 0 0 0 1px rgb(0 0 0 / 0.1), 0 0 0 2px rgb(0 0 0 / 0.1);
}


.menuLeftCounters{
  counter-increment: section;
  counter-reset: section;
  margin: 0;
  padding: 0;
  list-style: none;
}

.menuLeftListHovers::before{
  content: counters(section, '');
  opacity: 0
}

.menuLeftListHovers:hover{
  background-color: rgba(41, 182, 246, 0.5);
  border-left: 2px solid var(--primaryBlue);
}
